* {
    margin: 0;
    padding: 0;

}

#all1 {
    display: flex;
    justify-content: center;

}

#all2 {
    width: 85%;
    height: auto;
}

body {
    background-color: lightgray;
}

#Header {
    width: 100%;
    height: 200px;
    background-color: #f5372a;
    display: flex;
    flex-direction: column;
    justify-content: center;



}

#logga {

    padding-top: 30px;
    margin-left: 50px;

}



ul {
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: flex-end
}


li {
    font-size: 20px;
    

}

#main {
    background-color: green;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #751e1e;
}






















#bilder1 {
    width: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.bild1 {
    width: 500px;
    height: 300px;
    margin: 50px;


}



#bilder2 {

    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bild2 {
    width: 250px;
    height: 150px;
    margin: 70px;

}

#footer {
    width: 100%;
    height: 300px;
    background-color: #5D5D5D;
    justify-content: center;
    display: flex;
}

#logga2 {
    margin-top: 100px;

}

#f1 {
    width: 300px;
    height: auto;
    padding: 20px;
    font-size: 18px;
    text-align: center;

}


@media (max-width: 700px) {
    ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        float: none;
        background-color: #f5372a;
        margin-top: 26px;
    }

    #Header {
          width: 100%;
        height: 450px;
        background-color: white;
    }

    #logga {
         display: flex;
        justify-content: center;
         margin-left: 0;
    }

    #footer {
        width: 100%;
         !important;
        height: auto;
         !important;
        background-color: #5D5D5D;
         !important;
        justify-content: center;
         !important;
        display: flex;
         !important;
        flex-wrap: wrap;
         !important;

    }

    #logga2 {
        margin-top: 100px;
         !important;

    }

    #f1 {
        margin-top: 20px;
         !important;
        width: auto;
         !important;
        height: auto;
         !important;
        padding: 20px;
         !important;
        font-size: 18px;
         !important;
        text-align: center;
         !important;

    }
}

li {
    font-size: 20px;

}

#tjenster {
    background-color: red;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #751e1e;
}
