* {
    margin: 0;
    padding: 0;

}

body {
    background-color: lightgray;
}

#all1 {
    display: flex;
    justify-content: center;
    
}

#all2 {
    width: 85%;
    height: auto;
}

#Header {
    width: 100%;
    height: 200px;
    background-color: #f5372a;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

#logga {
   padding-top: 30px;
    margin-left: 50px;

}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: flex-end
}



li {
    font-size: 20px;
    

}

#main {
    background-color:#751e1e;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #751e1e;
}









#bild2 {
    width: 100%;
    height: 600px;
    padding-bottom:
}

#textalla {
    width: auto;
    height: 600px;



}



#bildWhite {
    width: 45%;
    height: 300px;

}

#bilder {
    padding-top: 300px;
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-around;
}

#bildBlack {
    width: 45%;
    height: 300px;

}

#footer {
    width: 100%;
    height: 300px;
    background-color: #5D5D5D;
    justify-content: center;
    display: flex;
}

#logga2 {
    margin-top: 100px;

}

#f1 {
    width: 300px;
    height: auto;
    padding: 20px;
    font-size: 18px;
    text-align: center;

}


#map{
    width: 100%;
    height: 400px;
    padding: 0;
    margin-top: 100px;
    margin-bottom: 100px;
   
}

@media screen and (max-width: 700px) {

    #bilder {
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center !important;
        height: 500px;
        padding: 10px;
    }

    #bildBlack {
        width: 100%;
        height: 45%;
        margin-top: 50px;
    }

    #bildWhite {
        width: 100%;
        height: 45%;
        margin-top: 150px;
    }



    ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        float: none;
        background-color: #f5372a;
        margin-top: 26px;
    }

    #Header {
        width: 100%;
        height: 450px;
        background-color: white;
       
    }

    #logga {
        display: flex;
        justify-content: center;
         margin-left: 0;
    }

    #bild2 {
        width: 100%;
        height: 300px !important;
        /* skriver över den anda koden important == först*/

    }


    #text1 {
        width: auto;
        height: 800px;
        display: flex;
        flex-wrap: wrap;
    }

    .texter {
        width: auto;
        height: 200px;
        padding: 10px;
        border: 4px;
        margin: 10px;
        margin-bottom: 20px;
        border-top: solid;
        font-family: sans-serif;
        font-size: 20px;

    }

    #footer {
        width: 100%;
         !important;
        height: auto;
         !important;
        background-color: #5D5D5D;
         !important;
        justify-content: center;
         !important;
        display: flex;
         !important;
        flex-wrap: wrap;
         !important;
        margin-top: 200px;

    }

    #logga2 {
        margin-top: 100px;
         !important;

    }

    #f1 {
        margin-top: 20px;
         !important;
        width: auto;
         !important;
        height: auto;
         !important;
        padding: 20px;
         !important;
        font-size: 18px;
         !important;
        text-align: center;
         !important;

    }

}
